* {
  font-family: Karla, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 1000px;
}

.row {
  display: flex;
}

.article {
  display: flex;
  justify-content: space-between;
}

.column-full {
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: flex-end;
  font-size: 45px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 15px;
  line-height: 20px;
}

.header {
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}

.column-half {
  margin-top: 50px;
  flex-basis: 80%;
}

img {
  height: 100px;
  width: 100px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button {
  color: rgb(255 0 0);
  border-color: rgb(255 0 0);
  background-color: white;
  padding: 10px 50px;
  font-weight: bold;
}
